@font-face {
	font-family: 'playfairdisplay';
	src: url('PlayfairDisplay-Regular.woff2') format('woff2'),
		 url('PlayfairDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html{
	margin: 5vw;
    text-align: center;
    background-color: #f6f6f6;
}

.content {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}
h1{
    font-size:30pt;
    padding: 10px;
    color: #3c3c3c;
}
h1 span{
    font-weight: normal ;
    padding-right:8px ;
    color: #797979;
}
hr{
    width: 10%;
    border: none;
    height: 3px;
    background-color: rgb(236, 73, 73);
}
.pra{
    padding: 20px;
    font-size: 15pt;
    margin: 0 auto;
    color: #797979;
}

.block{
	width: 30%;
	height:auto;
    margin: 20px auto;
	background-color: #fff;
	transition: ease-in-out .2s;
	cursor: pointer;
	overflow: hidden;
}
.block img{
	opacity: .8;
	transition: ease-in-out .2s;
	filter: grayscale(70%);
}
.block:hover img{
	opacity: 1;
	filter: grayscale(0);
}
/* .block:hover{
	transform: scale(1.01);
} */
.picture{
    width: 100%;
    overflow: hidden;
}
.maintext{
    font-size: 12pt;
    color: #3c3c3c;
}
.location ,.price{
    color:#797979
}
.maintext i{
    padding-right:10px ;
}
.price {
    color: #e2574c;
}

.specifications{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    color: #797979;
    border-top: 1px solid #797979;
}
.but{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.but button{
    outline: none;
    border:none;
    width: 200px;
    height: 50px;
    background-color: #e2574c;
    color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: linear .2s;
}
.but button:hover{
	background-color: #e93225;

}

@media (max-width: 900px){

	.content{
		display: flex;
		flex-wrap: wrap;
		transition: linear.3s;
	}
	.block{
		width: 40%
	}
	hr{
		width : 30%;
	}

}

/* responsive */
@media(max-width :600px){
	.content{
		display: flex;
		flex-wrap: wrap;
		transition: linear.3s;
	}
	h1{
		font-size: 20pt;
	}
	hr{
		width: 30%;
	}
	.block{
		width: 100%;
	}
	.block img{
		opacity: 1;
		filter: grayscale(0);
	}
	.pra{
		font-size: 12pt;
	}
	.maintext{
		font-size: 9pt;
	}
	.specifications{
		font-size: 9pt;
	}
}